<html>

<body>
	<!-- meta coontent, script and css files -->
	<div th:fragment="myheader">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<meta name="theme-color" content="#712cf9">
	</div>
	
	<!-- nav header fragment -->
	<div th:fragment="mynav">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			<div class="container">
				<a class="navbar-brand" th:href="@{/}"><span th:text="#{appname}">Student System</span></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
					aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
							<a class="nav-link" th:href="@{/students}">Home</a>
						</li>

						<li class="nav-item active">
							<a class="nav-link" th:href="@{'/students/new'}">New Student</a>
						</li>

					</ul>
				</div>

			</div>
		</nav>
	</div>
	<!-- nav header fragment -->
	<div th:fragment="myerrornav">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			<div class="container">
				<a class="navbar-brand" th:href="@{/}"><span th:text="#{appname}"></span></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
					aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
		</nav>
	</div>

	<!-- admin nav header fragment -->
	<div th:fragment="myadminnav">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			<div class="container">
				<a class="navbar-brand" th:href="@{/admin/posts}" target="_blank"><span th:text="#{appname}"></span></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
					aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
							<a class="nav-link" th:href="@{/admin/posts}">Post
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" th:href="@{/admin/posts/newpost}">New Post</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" th:href="@{/admin/posts/comments}">Comments</a>
						</li>

						<li class="nav-item active" sec:authorize="isAuthenticated()">
							<a class="nav-link" th:href="@{'/logout'}"><span class="text-white" th:text="${'Hi ' + principal}"></span> Logout</a>
						</li>
					</ul>
				</div>

			</div>
		</nav>
	</div>

	<!-- Sidbar - Front end -->
	<div class="card" th:fragment="search">
		<div class="card-header">
			<h3 class="text-center">Blog Search</h3>
		</div>
		<div class="card-body">
			<div class="form-group">
				<form th:action="@{/page/search}" class="form-inline">
					<div class="input-group">
						<input type="text" class="form-control" name="query" id="query">
						<span class="input-group-btn">
							<button class="btn btn-primary" type="submit">Search</button>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- footer fragment -->
	<div id="footer" th:fragment="myfooter">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white fixed-bottom">
			<p>&copy; Copyright <script>document.write(new Date().getFullYear())</script> &bull; All Rights Reserved &bull; <span th:text="#{appname}"></span></p>
			<script th:src="@{/js/jquery.min.js}"></script>
			<script th:src="@{/js/jquery-ui.min.js}"></script>
			<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
			<script th:src="@{/js/app.js}"></script>
			<script src="https://cdn.ckeditor.com/ckeditor5/40.2.0/classic/ckeditor.js"></script>
		</nav>
	</div>

</body>

</html>